body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.content{
    position: relative;
    
}
#response{
    top: 50px;
    position: absolute;
    font-size: 30px;
    text-indent: 10px;
    margin-left: 5%;
    margin-right: 5%;
}